      footer {
        text-align:right;
      }
      html{
        width:100%;
        height:100%;
        margin:0;
      }
      body {
        width:100%;
        min-height:100%;
        margin:0;
        font-family:Arial,Sans-serif;
        /* background-color:WhiteSmoke; */
        background-image:url('CPL-logo.png');
        background-size:66px 41px;
        background-position:15px 20px;
        background-repeat:no-repeat;
        background-attachment:fixed;
      }
      body div {
        background-color:white;
        text-align:justify;
        max-width:40em;
        min-height:100%;
        margin:auto;
        padding-left:1em; padding-right:1em;
}
      code{
        font-size: large;
      }
