      footer {
        text-align:right;
      }
      html{
        width:100%;
        height:100%;
        margin:0;
      }
      body {
        width:100%;
        min-height:100%;
        margin:0;
        font-family:Arial,Sans-serif;
        /* background-color:WhiteSmoke; */
      }
      #seal {
        position:fixed;
        top:20px;
        left:15px;
        width:66px;
        height:41px;
        padding-bottom:2px;
        }
      #seal:hover {
        border-bottom: 2px solid black;
      }
      .page {
        position:absolute;
        left:0; right:0;
        margin:auto;
        background-color:white;
        text-align:justify;
        max-width:40em;
        min-height:100%;
        padding-left:1em; padding-right:1em;
}
      code,pre {
        font-size: 1em;
        font-family:monospace,monospace;
      }
      iframe.news {
        position:absolute;
        max-width:40em;
        height:10em;
        left:0; right:0;
        top:3em;
        margin:auto;
        border:solid grey;
        border-radius:4px;
        background-color:white;
      }
      .download {
        background-color:orange;
        border-radius:0.1em;
        text-decoration:none;
      }
      .pdflink {
/*        background-color:Crimson;
        color:white; */
        color:Crimson;
        border:solid Crimson 0.15em;
        border-radius:0.15em;
        padding-left:0.1em; padding-right:0.1em;
        font-size:small;
        text-decoration:none; 
      }
      tr {
        vertical-align:top;
      }
      .leftinset {
        float:left;
        max-width:20em;
        margin-top:0.25em;
        padding-top:0.25em;
        margin-bottom:0.25em;
        padding-bottom:0.25em;
        margin-right:1em;
        padding-right:0.5em;
        border-right:0.2em solid grey;
        font-family:monospace,monospace;
        font-size:1em;
      }
      .rightinset {
        float:right;
        max-width:25em;
        margin-top:0.25em;
        padding-top:0.25em;
        margin-bottom:0.25em;
        padding-bottom:0.25em;
        margin-left:1em;
        padding-left:0.5em;
        border-left:0.2em solid grey;
        font-family:monospace,monospace;
        font-size:1em;
      }
