      footer {
        text-align:right;
      }
      body {
        width:100%;
        min-height:100vh;
        margin:0;
        padding:0;
        font-family:Arial,Sans-serif;
        /* background-color:WhiteSmoke; */
      }
      #seal {
        position:fixed;
        top:20px;
        left:15px;
        width:66px;
        height:41px;
        padding-bottom:2px;
        }
      #seal:hover {
        border-bottom: 2px solid #303030;
      }
      .smallcpl {
        width:24px;
        height:15px
      }
      .smallcpl:hover {
        border-bottom: 2px solid #808080;
        margin-bottom: -2px;
      }
      .page {
        position:absolute;
        left:0; right:0;
        margin:auto;
        background-color:white;
        text-align:justify;
        max-width:40em;
        padding-left:0.75em; padding-right:0.75em;
        padding-bottom:1em;
        min-height:calc(100% - 1em);
}
      code,pre {
        font-size: 1em;
        font-family:monospace,monospace;
        overflow:auto;
      }
      iframe.news {
        position:absolute;
        width:95%;
        height:10em;
        left:0; right:0;
        top:2.5em;
        margin:auto;
        border:solid grey;
        border-radius:4px;
        background-color:white;
      }
      .download {
        background-color:orange;
        border-radius:0.1em;
        text-decoration:none;
      }
      .pdflink {
/*        background-color:Crimson;
        color:white; */
        color:Crimson;
        border:solid Crimson 0.15em;
        border-radius:0.15em;
        padding-left:0.1em; padding-right:0.1em;
        font-size:small;
        text-decoration:none; 
      }
      tr {
        vertical-align:top;
      }
      .leftinset {
        float:left;
        max-width:20em;
        margin-top:0.5em;
        padding-top:0.5em;
        margin-bottom:0.25em;
        padding-bottom:0.25em;
        margin-right:0.75em;
        padding-right:0.5em;
        border-right:0.25em solid lightgrey;
        font-family:monospace,monospace;
        font-size:1em;
        white-space:pre;
      }
      .leftinset a {
        color:inherit;
      }
      .leftinset a:hover {
        color:blue;
      }
      .rightinset {
        float:right;
        max-width:25em;
        margin-top:0.75em;
        padding-top:0.25em;
        margin-bottom:0.25em;
        padding-bottom:0.25em;
        margin-left:0.75em;
        padding-left:0.5em;
        border-left:0.25em solid lightgrey;
        font-family:monospace,monospace;
        font-size:1em;
        white-space:pre;
      }
      img.em {
        height:0.9em;
        vertical-align:bottom
      }
      
