BODY 	    {background:url(/~luchini/oldpaper.jpeg); background-color:#ffffff}
A.csab	    {font-size:x-large;color:#008000;text-decoration:none}
TABLE.card  {background:#e4e4e4}
TABLE.coll  {font-weight:bold;font-family:sans-serif}
TH	    {color:maroon;font-weight:normal}
